<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mainLayout}">
<head>
    <title>Home</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row">
    <div class="col-md-9">
        <div th:if="${header != null}">
            <h3 th:text="${header}">Header</h3>
            <hr/>
        </div>
        <div th:replace="fragments/pagination :: pagination"> </div>
        <div class="row row-cols-1 row-cols-md-4">
            <div class="col mb-3" th:each="movie: ${moviesData.content}">
                <div class="card h-100" >
                    <a href="#" th:href="${'/movies/'+movie.id}">
                    <img th:src="${'https://image.tmdb.org/t/p/w500'+movie.posterPath}" class="card-img-top" alt="Movie">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title"
                            data-toggle="tooltip"
                            data-placement="top"
                            th:text="${movie.overview}">book.overview</h5>
                        <p class="card-text"
                           data-toggle="tooltip"
                           data-placement="top"
                           th:text="${movie.tagline}">movie.tagline</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/pagination :: pagination"> </div>
    </div>
    <div class="col-md-3">
        <h2>Top 10 Movies</h2>
        <h2>Genres</h2>
    </div>
    </div>
</div>
<div layout:fragment="pageScripts">

    <script th:inline="javascript">
        /*<![CDATA[*/
        var pageNo = /*[[${pageNo}]]*/ 1;
        console.log(pageNo);
        /*]]>*/
    </script>
</div>
</body>
</html>
